.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color); /*cor de fundo padrao1*/
   /*background: var(--bg-color);*/
    box-shadow: 5px 1px 5px rgba(0,0,0,0.1);
}

.footer-text {
    font-size: 1.6rem;
    /*color: var(--text-color);*/
    color: var(--text-color2);
    font-weight: 700;
}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
    
}

.footer-iconTop:hover {
    box-shadow: 0 0 1rem var(--text-color);
    transform: scale(1.2);
    background: var(--text-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}