@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*importacão arquivos css para ficar mais organizado*/
@import url('../styles/home.css');
@import url('../styles/header.css');
@import url('../styles/services.css');
@import url('../styles/about.css');
@import url('../styles/portifolio.css');
@import url('../styles/contact.css');
@import url('../styles/footer.css');
@import url('../styles/breakpoint.css');


:root {   
    --bg-color: #fff;
    --snd-bg-color:  #343434;
    --text-color: #000000;
    --text-color2: #fff;
    --main-color: #ff0026;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

span {
    color: var(--main-color);
}

.backgroud-black {
    color: var(--text-color2);
}

.btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    border: none;
    text-decoration: none;
}

.btn:hover {
    box-shadow: none;
    background: var(--text-color);
    transform: scale(1.05);
}


