@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*importacão arquivos css para ficar mais organizado*/
@import url('../styles/home.css');
@import url('../styles/header.css');


:root {
    --color-azul-1: #09f2d8;
    --color-vermelho-2: #f32e4d;
    --color-roxo-3: #740c54;
    --color-azul-4: #558bab;
    --color-roxo-5: #9494c4;

    /*paleta de cores pretas*/

    --color-preto-1: #000000;
    --color-preto-2: #111111;
    --color-preto-3: #232323;
    --color-preto-4: #343434;
    --color-preto-5: #454545;

    --color-neutral-0: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

