.planos {
    background: var(--snd-bg-color);
}
.planos  h2 {
    margin-bottom: 5rem;  
    color: var(--bg-color);
}

.planos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.planos-container .planos-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .4rem solid var(--snd-bg-color);
    transition: .5s ease;
}

.planos-container .planos-box:hover {
    border-color: var(--main-color);
    transform: scale(1.05);
}

.planos-box i {
    font-size: 7rem;
    color: var(--text-color);
}

.planos-box h3 {
    font-size: 2.6rem;
    color: var(--text-color);
}

.planos-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    color: var(--text-color);
    font-weight: 700;
}
